# Node modules (frontend)
frontend/node_modules/
frontend/dist/

# Spring Boot build files
backend/target/
*.log

# Environment files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db

#Backend
backend/src/main/resources/*.properties